html,
body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    padding: 20px;
}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.container-fluid a{
    text-decoration: none;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    gap:10px;
}
.table_heading{
    font-weight: 700;
}




.CENTER_EVERYTHING {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* overflow-y: scroll; */
  /* min-height: 100vh; */
}
.Tabs {
  display: flex;
  gap: 0.5rem;
  margin-top: 2rem;

  .Tab {
    border-radius: 5px;
    background: rgb(214, 204, 204);
    padding: 0.25rem 2rem;
    border-radius: 4px;
    cursor: pointer;
    &.active {
        color:#fff;
      background: rgb(115, 101, 101);
    }
  }
}
.TabsContainer {
  overflow: hidden;
  width: 100%;

  .TabsContent {
    transition: 0.5s all;
    display: flex;
    background: red;
    margin-top: 2rem;
    .TabContent {
        background: rgb(214, 204, 204);
      min-width: 100%;
      min-height: 20rem;
    }
  }
}






.tab_container{
    padding: 12px;
}
.tab_container header{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.8rem 0rem;
    margin-right: 32px;
}
.vul_description_part li{

    padding: 4px;
}
.critical_box{
    width: 64px;
    height: 64px;
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f24747;
}
.head_desc{
    display: flex;
    align-items: center;
    gap:10px;
}
.vul_description_part{
    margin-top: 20px;
}
.vul_description_part b{
    font-size: 1.5rem;
    font-weight: 500;
    padding-bottom: 1.5rem;
}

.banner{
   width: 100%;
   height: 50px;
    display: flex;
    margin-top: 20px;
    justify-content: center;
text-align: center;
    font-size: 1.3rem;
    font-weight: 600;
    color: #fff;
}
.banner .left{
   
    width: 50%;
    height: 100%;
background-color: red;
display: grid;
place-items: center;
}
.right{
    display: grid;
place-items: center;
    width: 50%;
    height: 100%;
    background-color: green;
}
